.circle-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    box-shadow: 0 0 0 0 rgba(123, 250, 244, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#two-circle-1 {
    background-image: url("");
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(123, 250, 244, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(123, 250, 244, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(123, 250, 244, 0);
	}
}