body {
    font-family: 'Open Sans', sans-serif;
}

h3 {
   font-size: 38px;
   font-weight: 700;
   line-height: 52px;
   margin: 0px;
}

p {
    font-size: 18px;
    line-height: 28px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-hover {
    opacity: 0.5;
} 

.text {
    margin-left: 60px;
    width: 40vw; 
}

.text div {
    padding-bottom: 16px;
}

.module {
    height: 700px;
    width: 45%;
    padding-right: 20px;
}

.text-svg {
    position: absolute;
}

.text-svg svg {
    position: relative;
    left: -15px;
    z-index: -50;
}

.hide {
    opacity: 0;
}
@media screen and (max-width:991px){
    .container {
        flex-direction: column;
    }
    h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
     }
     
     p {
         font-size: 16px;
         line-height: 24px;
     }
     .module {
        height: 300px;
        width: 100%;
    }
     .text {
        width: 100%; 
        margin-left: 0px;
    }

    .text div {
        padding-bottom: 8px;
    }
    .text-svg svg {
        position: relative;
        top:-5px;
        left: -8px;
        z-index: -50;
    }
}